name: Deployment GitHub Actions

on: 
  push: 
    branches: 
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install dependecies
        run: npm i
      - name: run dev
        run: npm run dev
      - name: run test
        run: npm run test
      - name: Build Production
        run: npm run build
      - name: Deplyment Date
        run: date