name: Deployment GitHub Actions

on: 
  push: 
    branches: 
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install dependecies
        run: npm i
      - name: Build to production
        run: npm run build
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: master
          folder: dist